.THEME__CONTAINER
{
    BACKGROUND: #E5E5E5;
    FONT-FAMILY: "-APPLE-SYSTEM", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
    COLOR: #303030;
}

.CONSOLE__WRAP--RIGHT .THEME__CONTAINER
{
    BOX-SHADOW: INSET 7PX 0 9PX -7PX #CCC;
}

.CONSOLE__WRAP--BOTTOM .THEME__CONTAINER
{
    BOX-SHADOW: INSET 0 7PX 9PX -7PX #CCC;
}

.CONSOLE__WRAP--LEFT .THEME__CONTAINER
{
    BOX-SHADOW: INSET -7PX 0 9PX -7PX #CCC;
}

.CONSOLE__WRAP--TOP .THEME__CONTAINER
{
    BOX-SHADOW: INSET 0 -7PX 9PX -7PX #CCC;
}

.THEME__HEADER
{
    MARGIN: 0PX;
    PADDING: 20PX 20PX;
    FONT-WEIGHT: 900;
    FONT-SIZE: 30PX;
}

.THEME__MENU
{
    FONT-SIZE: 15PX;
    FONT-WEIGHT: 300;
}

.THEME__GROUP
{
    MARGIN-TOP: 20PX;
}

.THEME__DIVIDER
{
    DISPLAY: NONE !IMPORTANT;
    /*DISPLAY: FLEX;
    MIN-WIDTH: 50%;
    PADDING: 0PX 0PX 2PX 0PX;
    MARGIN: 0PX 20PX 10PX 20PX;
    BORDER-BOTTOM: DASHED 1PX #ADADAD;
    FONT-SIZE: 15PX;
    FONT-WEIGHT: 100;
    COLOR: #ADADAD;*/
}

.THEME__SECTION
{
    PADDING: 15PX 20PX;
    LINE-HEIGHT: 15PX;
    TRANSITION: BACKGROUND 0.3S, COLOR 0.3S, FONT-SIZE 0.3S;
}

.THEME__SECTION:HOVER
{
    BACKGROUND: #D6D6D6;
}

.THEME__SECTION:ACTIVE
{
    BACKGROUND: #ADADAD;
    COLOR: WHITE;
    FONT-SIZE: 14PX;
}

.THEME__TABWORKSPACE
{
    MARGIN-TOP: 20PX;
}
