HTML
{
    WIDTH: 100%;
    HEIGHT: 100%;
}

BODY
{
    DISPLAY: FLEX;
    WIDTH: 100%;
    HEIGHT: 100%;
    MARGIN: 0;
}

.NOTEXTSELECTION
{
  -WEBKIT-USER-SELECT: NONE;
  USER-SELECT: NONE;
}

.IGNOREINNERMOUSEEVENTS
{
    POINTER-EVENTS: NONE;
}

.HIDDEN
{
    DISPLAY: NONE;
}
