BODY
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT 100%;
    MARGIN: 0PX;
    OVERFLOW: HIDDEN;
}

.CONSOLE__WRAP
{
    POSITION: RELATIVE;
    DISPLAY: FLEX;
    WIDTH: 100%;
    HEIGHT: 100%;
    OVERFLOW: HIDDEN;
}

.CONSOLE__WRAP--TOP
{
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-HEIGHT: 150%;
    TOP: -50%;
}

.CONSOLE__WRAP--BOTTOM
{
    FLEX-DIRECTION: COLUMN;
    MIN-HEIGHT: 150%;
}

.CONSOLE__WRAP--LEFT
{
    FLEX-DIRECTION: ROW;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-WIDTH: 150%;
    LEFT: -50%;
}

.CONSOLE__WRAP--RIGHT
{
    FLEX-DIRECTION: ROW;
    MIN-WIDTH: 150%;
}

.CONSOLE__PAGE
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    MIN-WIDTH: 100%;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: WIDTH 1S, MIN-WIDTH 1S, MAX-WIDTH 1S, HEIGHT 1S, MIN-HEIGHT 1S, MAX-HEIGHT 1S;
}

.CONSOLE__WRAP--TOP .CONSOLE__PAGE
{
    HEIGHT: 66.66%;
    MIN-HEIGHT: 66.66%;
    MAX-HEIGHT: 66.66%;
}

.CONSOLE__WRAP--BOTTOM .CONSOLE__PAGE
{
    HEIGHT: 66.66%;
    MIN-HEIGHT: 66.66%;
    MAX-HEIGHT: 66.66%;
}

.CONSOLE__WRAP--LEFT .CONSOLE__PAGE
{
    WIDTH: 66.66%;
    MIN-WIDTH: 66.66%;
}

.CONSOLE__WRAP--RIGHT .CONSOLE__PAGE
{
    WIDTH: 66.66%;
    MIN-WIDTH: 66.66%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--TOP
{
    MAX-HEIGHT: 33.33%;
    MIN-HEIGHT: 33.33%;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--BOTTOM
{
    MAX-HEIGHT: 33.33%;
    MIN-HEIGHT: 33.33%;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--LEFT
{
    MAX-WIDTH: 33.33%;
    MIN-WIDTH: 33.33%;
    WIDTH: 33.33%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--RIGHT
{
    MAX-WIDTH: 33.33%;
    MIN-WIDTH: 33.33%;
    WIDTH: 33.33%;
}

.CONSOLE__CONTAINER
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: LEFT 1S;
}

.CONSOLE__WRAP--TOP .CONSOLE__CONTAINER
{
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--BOTTOM .CONSOLE__CONTAINER
{
    ORDER: 1;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--LEFT .CONSOLE__CONTAINER
{
    WIDTH: 33.33%;
}

.CONSOLE__WRAP--RIGHT .CONSOLE__CONTAINER
{
    ORDER: 1;
    WIDTH: 33.33%;
}
