:ROOT
{
    --CONSOLE-RELATE-WIDTH: 30;
    --CONSOLE-WRAP-WIDTH: CALC(100% + VAR(--CONSOLE-RELATE-WIDTH) * 1%);
    --CONSOLE-WIDTH: CALC(VAR(--CONSOLE-RELATE-WIDTH) / (VAR(--CONSOLE-RELATE-WIDTH) + 100) * 100%);
    --PAGE-WIDTH: CALC(100% - VAR(--CONSOLE-WIDTH));
    --PAGE-CONSOLE-WIDTH: CALC(VAR(--PAGE-WIDTH) - VAR(--CONSOLE-WIDTH));

    --CONSOLE-HEIGHT: 50%;
}

BODY
{
    POSITION: RELATIVE;
    DISPLAY: BLOCK;
    WIDTH: 100%;
    HEIGHT 100%;
    MARGIN: 0PX;
    OVERFLOW: HIDDEN;
}

.CONSOLE__WRAP
{
    POSITION: RELATIVE;
    DISPLAY: FLEX;
    WIDTH: 100%;
    HEIGHT: 100%;
    OVERFLOW: HIDDEN;
}

.CONSOLE__WRAP--TOP
{
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-HEIGHT: 150%;
    TOP: -50%;
}

.CONSOLE__WRAP--BOTTOM
{
    FLEX-DIRECTION: COLUMN;
    MIN-HEIGHT: 150%;
}

.CONSOLE__WRAP--LEFT
{
    FLEX-DIRECTION: ROW;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-WIDTH: VAR(--CONSOLE-WRAP-WIDTH);
    WIDTH: VAR(--CONSOLE-WRAP-WIDTH);
    LEFT: CALC(-1% * VAR(--CONSOLE-RELATE-WIDTH) / 2);
}

.CONSOLE__WRAP--RIGHT
{
    FLEX-DIRECTION: ROW;
    MIN-WIDTH: VAR(--CONSOLE-WRAP-WIDTH);
    WIDTH: VAR(--CONSOLE-WRAP-WIDTH);
    RIGHT: CALC(-1% * VAR(--CONSOLE-RELATE-WIDTH) / 2);
}

.CONSOLE__PAGE
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    MIN-WIDTH: 100%;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: WIDTH 1S, MIN-WIDTH 1S, MAX-WIDTH 1S, HEIGHT 1S, MIN-HEIGHT 1S, MAX-HEIGHT 1S;
}

.CONSOLE__WRAP--TOP .CONSOLE__PAGE
{
    HEIGHT: 66.66%;
    MIN-HEIGHT: 66.66%;
    MAX-HEIGHT: 66.66%;
}

.CONSOLE__WRAP--BOTTOM .CONSOLE__PAGE
{
    HEIGHT: 66.66%;
    MIN-HEIGHT: 66.66%;
    MAX-HEIGHT: 66.66%;
}

.CONSOLE__WRAP--LEFT .CONSOLE__PAGE
{
    WIDTH: VAR(--PAGE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-WIDTH);
}

.CONSOLE__WRAP--RIGHT .CONSOLE__PAGE
{
    WIDTH: VAR(--PAGE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-WIDTH);
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--TOP
{
    MAX-HEIGHT: 33.33%;
    MIN-HEIGHT: 33.33%;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--BOTTOM
{
    MAX-HEIGHT: 33.33%;
    MIN-HEIGHT: 33.33%;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--LEFT
{
    MAX-WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
    WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
}

.CONSOLE__WRAP--CONSOLE .CONSOLE__PAGE--RIGHT
{
    MAX-WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
    WIDTH: VAR(--PAGE-CONSOLE-WIDTH);
}

.CONSOLE__CONTAINER
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: LEFT 1S;
}

.CONSOLE__WRAP--TOP .CONSOLE__CONTAINER
{
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--BOTTOM .CONSOLE__CONTAINER
{
    ORDER: 1;
    HEIGHT: 33.33%;
}

.CONSOLE__WRAP--LEFT .CONSOLE__CONTAINER
{
    WIDTH: VAR(--CONSOLE-WIDTH);
}

.CONSOLE__WRAP--RIGHT .CONSOLE__CONTAINER
{
    ORDER: 1;
    WIDTH: VAR(--CONSOLE-WIDTH);
}
