.CONSOLE__PARENT
{
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.CONSOLE__PAGE
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    LEFT: 0%;
    MIN-WIDTH: 100%;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: WIDTH 1S, MIN-WIDTH 1S, MAX-WIDTH 1S, LEFT 1S;
}

.CONSOLE__PARENT--CONSOLE .CONSOLE__PAGE
{
    LEFT: 50%;
    MAX-WIDTH: 50%;
    MIN-WIDTH: 50%;
    WIDTH: 50%;
}

.CONSOLE__CONTAINER
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    WIDTH: 50%;
    HEIGHT: 100%;
    LEFT: -50%;
    BORDER: NONE;
    TRANSITION: LEFT 1S;
}
