.INTERFACE__HEADER
{
    DISPLAY: NONE;
}

.INTERFACE__DIVIDER
{
    DISPLAY: NONE;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__MENU--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
}

.INTERFACE__TABSCONTAINER--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT .INTERFACE__HEADER
{
    DISPLAY: INLINE-BLOCK;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT .INTERFACE__DIVIDER
{
    DISPLAY: INLINE-BLOCK;
}



.INTERFACE__CONTAINER--ASIDE-ALBUM
{
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__MENU--ASIDE-ALBUM
{
    POSITION: RELATIVE;
    ORDER: 0;
    WIDTH: 30%;
    HEIGHT: 100%;
}

.INTERFACE__TABSCONTAINER--ASIDE-ALBUM
{
    POSITION: RELATIVE;
    ORDER: 1;
    WIDTH: 70%;
    HEIGHT: 100%;
}

.INTERFACE__CONTAINER--ASIDE-ALBUM .INTERFACE__DIVIDER
{
    DISPLAY: INLINE-BLOCK;
}
