.INTERFACE__CONTAINER--ASIDE-PORTRAIT
{
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
    HEIGHT: 100%;
    LEFT: 0%;
    TRANSITION: LEFT 1S;
}

.INTERFACE__MENU--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    MIN-WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__TABS--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    MIN-WIDTH: 100%;
    HEIGHT: 100%;
}
