.INTERFACE__HEADER
{
    DISPLAY: NONE;
}

.INTERFACE__DIVIDER
{
    DISPLAY: NONE;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__MENU--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
}

.INTERFACE__TABSCONTAINER--ASIDE-PORTRAIT
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT .INTERFACE__HEADER
{
    DISPLAY: INLINE-BLOCK;
}

.INTERFACE__CONTAINER--ASIDE-PORTRAIT .INTERFACE__DIVIDER
{
    DISPLAY: INLINE-BLOCK;
}
