.RESIZER
{
    --RESIZER-WEIGHT: 5PX;

    POSITION: ABSOLUTE;
    OPACITY: 1;
}

.RESIZER--TOP
{
    BOTTOM: 0%;
    WIDTH: 100%;
    HEIGHT: VAR(--RESIZER-WEIGHT);
}

.RESIZER--BOTTOM
{
    TOP: 0%;
    WIDTH: 100%;
    HEIGHT: VAR(--RESIZER-WEIGHT);
}

.RESIZER--LEFT
{
    RIGHT: 0%;
    WIDTH: VAR(--RESIZER-WEIGHT);
    HEIGHT: 100%;
}

.RESIZER--RIGHT
{
    LEFT: 0%;
    WIDTH: VAR(--RESIZER-WEIGHT);
    HEIGHT: 100%;
}
