:ROOT
{
    --SEPARATOR-MOVED-X: CALC(- VAR(--CONSOLE-WIDTH));
    --SEPARATOR-MOVED-Y: CALC(- VAR(--CONSOLE-HEIGHT));
}

.SEPARATOR
{
    POSITION: ABSOLUTE;
    WIDTH: CALC(100% + VAR(--CONSOLE-WIDTH));
    HEIGHT: CALC(100% + VAR(--CONSOLE-HEIGHT));
    OVERFLOW: HIDDEN;
}

.SEPARATOR--ANIMATED
{
    TRANSITION: WIDTH 0.4S CUBIC-BEZIER(0, 0.5, 0.2, 1), HEIGHT CUBIC-BEZIER(0, 0.07, 0.2, 1) 0.4S, TOP CUBIC-BEZIER(0, 0.07, 0.2, 1) 0.4S, BOTTOM CUBIC-BEZIER(0, 0.07, 0.2, 1) 0.4S, RIGHT CUBIC-BEZIER(0, 0.07, 0.2, 1) 0.4S, LEFT CUBIC-BEZIER(0, 0.07, 0.2, 1) 0.4S;
}

.SEPARATOR--LEFT
{
    RIGHT: 0%;
    HEIGHT: 100%;
    FLEX-DIRECTION: ROW-REVERSE;
}

.SEPARATOR--TOP
{
    BOTTOM: 0%;
    WIDTH: 100%;
    FLEX-DIRECTION: COLUMN-REVERSE;
}

.SEPARATOR--RIGHT
{
    RIGHT: VAR(--SEPARATOR-MOVED-Y);
    HEIGHT: 100%;
    FLEX-DIRECTION: ROW;
}

.SEPARATOR--BOTTOM
{
    BOTTOM: VAR(--SEPARATOR-MOVED-Y);
    WIDTH: 100%;
    FLEX-DIRECTION: COLUMN;
}

.SEPARATOR--SHRINKED
{
    WIDTH: 100% !IMPORTANT;
    HEIGHT: 100% !IMPORTANT;
}

.SEPARATOR__MOVED--LEFT
{
    BOTTOM: 0%;
}

.SEPARATOR__MOVED--TOP
{
    BOTTOM: VAR(--SEPARATOR-MOVED-Y);
}

.SEPARATOR__MOVED--RIGHT
{
    RIGHT: 0%;
}

.SEPARATOR__MOVED--BOTTOM
{
    BOTTOM: 0;
}
