:ROOT
{
    --SEPARATOR-RELATE-WIDTH: 30;
    --SEPARATOR-WRAP-WIDTH: CALC(100% + VAR(--SEPARATOR-RELATE-WIDTH) * 1%);
    --SEPARATOR-WIDTH: CALC(VAR(--SEPARATOR-RELATE-WIDTH) / (VAR(--SEPARATOR-RELATE-WIDTH) + 100) * 100%);
    --PAGE-WIDTH: CALC(100% - VAR(--SEPARATOR-WIDTH));
    --PAGE-SEPARATOR-WIDTH: CALC(VAR(--PAGE-WIDTH) - VAR(--SEPARATOR-WIDTH));

    --SEPARATOR-RELATE-HEIGHT: 50;
    --SEPARATOR-WRAP-HEIGHT: CALC(100% + VAR(--SEPARATOR-RELATE-HEIGHT) * 1%);
    --SEPARATOR-HEIGHT: CALC(VAR(--SEPARATOR-RELATE-HEIGHT) / (VAR(--SEPARATOR-RELATE-HEIGHT) + 100) * 100%);
    --PAGE-HEIGHT: CALC(100% - VAR(--SEPARATOR-HEIGHT));
    --PAGE-SEPARATOR-HEIGHT: CALC(VAR(--PAGE-HEIGHT) - VAR(--SEPARATOR-HEIGHT));
}

HTML
{
    WIDTH: 100%;
    HEIGHT: 100%;
}

BODY
{
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
    MARGIN: 0PX;
    OVERFLOW: HIDDEN;
}

.SEPARATOR__WRAP
{
    POSITION: ABSOLUTE;
    DISPLAY: FLEX;
    WIDTH: 100%;
    HEIGHT: 100%;
    OVERFLOW: HIDDEN;
}

.SEPARATOR__WRAP--TOP
{
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-HEIGHT: VAR(--SEPARATOR-WRAP-HEIGHT);
    BOTTOM: 0%;
}

.SEPARATOR__WRAP--BOTTOM
{
    FLEX-DIRECTION: COLUMN;
    MIN-HEIGHT: VAR(--SEPARATOR-WRAP-HEIGHT);
}

.SEPARATOR__WRAP--LEFT
{
    FLEX-DIRECTION: ROW;
    JUSTIFY-CONTENT: FLEX-END;
    MIN-WIDTH: VAR(--SEPARATOR-WRAP-WIDTH);
    WIDTH: VAR(--SEPARATOR-WRAP-WIDTH);
    RIGHT: 0%;
}

.SEPARATOR__WRAP--RIGHT
{
    FLEX-DIRECTION: ROW;
    MIN-WIDTH: VAR(--SEPARATOR-WRAP-WIDTH);
    WIDTH: VAR(--SEPARATOR-WRAP-WIDTH);
}

.SEPARATOR__PAGE
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    MIN-WIDTH: 100%;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: WIDTH 1S, MIN-WIDTH 1S, MAX-WIDTH 1S, HEIGHT 1S, MIN-HEIGHT 1S, MAX-HEIGHT 1S;
}

.SEPARATOR__WRAP--TOP .SEPARATOR__PAGE
{
    HEIGHT: VAR(--PAGE-HEIGHT);
    MIN-HEIGHT: VAR(--PAGE-HEIGHT);
    MAX-HEIGHT: VAR(--PAGE-HEIGHT);
}

.SEPARATOR__WRAP--BOTTOM .SEPARATOR__PAGE
{
    HEIGHT: VAR(--PAGE-HEIGHT);
    MIN-HEIGHT: VAR(--PAGE-HEIGHT);
    MAX-HEIGHT: VAR(--PAGE-HEIGHT);
}

.SEPARATOR__WRAP--LEFT .SEPARATOR__PAGE
{
    WIDTH: VAR(--PAGE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-WIDTH);
}

.SEPARATOR__WRAP--RIGHT .SEPARATOR__PAGE
{
    WIDTH: VAR(--PAGE-WIDTH);
    MIN-WIDTH: VAR(--PAGE-WIDTH);
}

.SEPARATOR__WRAP--CONSOLE .SEPARATOR__PAGE--TOP
{
    HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
    MIN-HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
    MAX-HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
}

.SEPARATOR__WRAP--CONSOLE .SEPARATOR__PAGE--BOTTOM
{
    HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
    MIN-HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
    MAX-HEIGHT: VAR(--PAGE-SEPARATOR-HEIGHT);
}

.SEPARATOR__WRAP--CONSOLE .SEPARATOR__PAGE--LEFT
{
    MAX-WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
    MIN-WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
    WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
}

.SEPARATOR__WRAP--CONSOLE .SEPARATOR__PAGE--RIGHT
{
    MAX-WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
    MIN-WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
    WIDTH: VAR(--PAGE-SEPARATOR-WIDTH);
}

.SEPARATOR__CONTAINER
{
    DISPLAY: FLEX;
    POSITION: RELATIVE;
    WIDTH: 100%;
    HEIGHT: 100%;
    BORDER: NONE;
    TRANSITION: LEFT 1S;
}

.SEPARATOR__WRAP--TOP .SEPARATOR__CONTAINER
{
    HEIGHT: VAR(--SEPARATOR-HEIGHT);
}

.SEPARATOR__WRAP--BOTTOM .SEPARATOR__CONTAINER
{
    ORDER: 1;
    HEIGHT: VAR(--SEPARATOR-HEIGHT);
}

.SEPARATOR__WRAP--LEFT .SEPARATOR__CONTAINER
{
    WIDTH: VAR(--SEPARATOR-WIDTH);
}

.SEPARATOR__WRAP--RIGHT .SEPARATOR__CONTAINER
{
    ORDER: 1;
    WIDTH: VAR(--SEPARATOR-WIDTH);
}
