HTML
{
    WIDTH: 100%;
    HEIGHT: 100%;
}

.SEPARATOR
{
    DISPLAY: FLEX;
    POSITION: ABSOLUTE;
    WIDTH: 100%;
    HEIGHT: 100%;
    MARGIN: 0PX;
    OVERFLOW: HIDDEN;
}

.SEPARATOR--ANIMATED
{
    TRANSITION: WIDTH 0.5S, HEIGHT 0.5S;
}

.SEPARATOR--LEFT
{
    RIGHT: 0%;
    FLEX-DIRECTION: ROW-REVERSE;
}

.SEPARATOR--TOP
{
    BOTTOM: 0%;
    FLEX-DIRECTION: COLUMN-REVERSE;
}

.SEPARATOR--RIGHT
{
    FLEX-DIRECTION: ROW;
}

.SEPARATOR--BOTTOM
{
    FLEX-DIRECTION: COLUMN;
}

.SEPARATOR--SHRINKED
{
    WIDTH: 100% !IMPORTANT;
    HEIGHT: 100% !IMPORTANT;
}
